<footer>
	<div class="top-footer border-top">
		<div class="container">
			<form class="form-inline p-3 justify-content-center">
				<label class="pr-3 pb-sm-2 pb-md-0">Please Enter the Details</label>
	            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
	            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
          	</form>
		</div>
	</div>
	<div class="middle-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-16 col-xs-24">
					<p class="pt-3 text-white">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh </p>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-footer bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-24">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item">Link 1</li>
						<li class="list-inline-item">Link 2</li>
						<li class="list-inline-item">Link 3</li>
						<li class="list-inline-item">Link 4</li>
						<li class="list-inline-item">Link 5</li>
					</ul>
				</div>
				<hr/>
			</div>	
			<div class="row">
				<div class="col-md-24 text-white">
					<p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
					<p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
				</div>
				<hr/>
			</div>
		</div>
	</div>
</footer>